# Decision Tree Classifier

A Decision Tree is a simple representation for classifying examples. It is a Supervised Machine Learning where the data is continuously split according to a certain parameter.

Decision Tree consists of :
    
Nodes : Test for the value of a certain attribute.
    
Edges/ Branch : Correspond to the outcome of a test and connect to the next node or leaf.
    
Leaf nodes : Terminal nodes that predict the outcome (represent class labels or class distribution).

A Decision Tree is a simple representation for classifying examples

Decision variable is Categorical. 

Target variable two or more, compared to logistic regression you can have only category.....

Decision nodes are used to classify...........

Also used for both classification and regression problems.....

----------------------------------------------------------------------------------------
Based on the principal of entropy theroy? 

measure of randomness/ how much homogeneous and heterogeneous data...? 

if homogeneous = Information Gain is 0 (all male)

if heterogenoeus = Information gain is maximum (50% male & 50% female)

======================================================================================

To understand the concept of Decision Tree consider the above example.

Let’s say you want to predict whether a person is fit or unfit, given their information like age, eating habits, physical activity, etc. 

The decision nodes are the questions like ‘What’s the age?’, ‘Does he exercise?’, ‘Does he eat a lot of pizzas’? And the leaves represent outcomes like either ‘fit’, or ‘unfit’.

-----------------------------------------------------------------------------------------

There are two main types of Decision Trees: Classification Trees. Regression Trees.

1. Classification trees (Yes/No types) :
    
What we’ve seen above is an example of classification tree, where the outcome was a variable like ‘fit’ or ‘unfit’. 

Here the decision variable is Categorical/ discrete.

Such a tree is built through a process known as binary recursive partitioning.

This is an iterative process of splitting the data into partitions and then splitting it up further on each of the branches.

 2. Regression trees (Continuous data types) :
        
Decision trees where the target variable can take continuous values (typically real numbers) are called regression trees.  

(e.g. the price of a house, or a patient’s length of stay in a hospital)

In [3]:
import pandas as pd
cr =  pd.read_csv("CreditRisk.csv")

In [4]:
cr.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
cr.isnull().sum() # null values

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
cr.Gender        = cr.Gender.fillna('Male')
cr.Self_Employed = cr.Self_Employed.fillna('Yes')
cr.Credit_History =  cr.Credit_History.fillna(0)
cr.Dependents  = cr.Dependents.fillna(0)
cr.LoanAmount  = cr.LoanAmount.fillna(cr.LoanAmount.mean())
cr.Loan_Amount_Term  = cr.Loan_Amount_Term.fillna(cr.Loan_Amount_Term.mean())
cr.Married           = cr.Married.fillna("Yes")

In [7]:
cr.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [9]:
cr.Gender.replace({"Male" :1 , "Female":0} ,inplace = True)
cr.Married.replace({"No" :0 , "Yes":1} , inplace = True)
cr.Education.replace({"Graduate" :1  , "Not Graduate":0} , inplace = True)
cr.Self_Employed.replace({"No":0 , "Yes" :1 }, inplace = True)
cr.Property_Area.replace({"Semiurban" :1 ,"Urban": 2 , "Rural" :3} , inplace = True)
cr.Loan_Status.replace({"Y" :1 , "N" : 0}, inplace = True)

In [10]:
cr_x = cr.iloc[: ,1:12]
cr_y = cr.iloc[: , -1]

In [11]:
import sklearn
from sklearn.model_selection import train_test_split
cr_x_train , cr_x_test ,cr_y_train , cr_y_test = train_test_split(cr_x , cr_y , test_size = .2 , random_state = 101)

In [13]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier( )

In [14]:
dtree.fit(cr_x_train, cr_y_train)

DecisionTreeClassifier()

In [15]:
pred_dt =dtree.predict(cr_x_test)

In [16]:
from sklearn.metrics import confusion_matrix
tab1 = confusion_matrix(pred_dt , cr_y_test)
tab1

array([[ 29,  28],
       [ 28, 112]], dtype=int64)

In [17]:
tab1.diagonal().sum() / tab1.sum() * 100

71.57360406091371

========================================================================================

In [20]:
cr_x_train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
813,1,1,0.0,1,1,1900,1442.0,88.0,360.0,1.0,3
33,1,1,0.0,1,0,3500,1667.0,114.0,360.0,1.0,1
161,1,1,0.0,1,0,7933,0.0,275.0,360.0,1.0,2
567,1,1,4.0,1,0,3400,2500.0,123.0,360.0,0.0,3
475,1,1,2.0,1,1,16525,1014.0,150.0,360.0,1.0,3

In [21]:
dtree.feature_importances_

array([0.02868954, 0.0321099 , 0.02491658, 0.01924052, 0.01539341,
       0.25935707, 0.10742648, 0.17951174, 0.03398207, 0.26114729,
       0.03822539])

In [22]:
feature_score = pd.DataFrame({"Importance" : dtree.feature_importances_ , " Variable_Name"
: cr_x_train.columns})

In [23]:
feature_score

    Importance      Variable_Name
0     0.028690             Gender
1     0.032110            Married
2     0.024917         Dependents
3     0.019241          Education
4     0.015393      Self_Employed
5     0.259357    ApplicantIncome
6     0.107426  CoapplicantIncome
7     0.179512         LoanAmount
8     0.033982   Loan_Amount_Term
9     0.261147     Credit_History
10    0.038225      Property_Area

In [24]:
feature_score.sort_values(['Importance'] , ascending = False )

    Importance      Variable_Name
9     0.261147     Credit_History
5     0.259357    ApplicantIncome
7     0.179512         LoanAmount
6     0.107426  CoapplicantIncome
10    0.038225      Property_Area
8     0.033982   Loan_Amount_Term
1     0.032110            Married
0     0.028690             Gender
2     0.024917         Dependents
3     0.019241          Education
4     0.015393      Self_Employed